@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using InsuranceCard.Models
@model List<CustomerUser>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Province</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <style>
        * {
            background-color:aquamarine;
        }

        html, body {
            font-family: 'Hel', sans-serif !important;
            font-size: 16px;
            color: #363636;
        }
        h1 {
            text-align: center;
            background-color: black;
            color: white;
            padding: 20px 0px 20px 0px;
        }
        .boads {
            text-align: center;
        }
        table{
            text-align: center;
        }
        .content {
            text-align: center;
            
        }
        button
        {
            color:white;
            background-color: black;
        }


            .content table, th, td {
                border: 1px solid #868585;
                border: 2px solid black;
                height: 100%;
                width: 100%;
            }

            

                .content table tr:nth-child(odd) {
                    background-color: #eee;
                    font-weight: 700;
                }

        table tr:nth-child(even) {
            background-color: white;
        }
    </style>
</head>
<body>
    <h1>Customer_User Information</h1>
    <table border="1">
        <tr>
            <th>CustomerID</th>
            <th>CustomerName</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>IdentityNumber</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>UserName</th>
            <th>Password</th>
            <th>StaffID</th>
        </tr>
        @{
            foreach (CustomerUser a in Model)
            {
                <tr>
                    <td>@a.CustomerId</td>
                    <td>@a.Name </td>
                    <td>@a.Gender </td>
                    <td>@a.Dateofbirth </td>
                    <td>@a.IdentityNumber </td>
                    <td>@a.Email </td>
                    <td>@a.Phone </td>
                    <td>@a.Username </td>
                    <td>@a.Address </td>
                    <td>@a.Password </td>
                    <td>@a.StaffId </td>
                </tr>
            }
        }
    </table>
    <button><a href="@Url.Action("Index","Home")">Back to previous page</a></button>
</body>
</html>