@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using InsuranceCard.Models;
@model List<Paymenthistory>;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Province</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
</head>
<body>
    <h1>Payment_History Information</h1>
    <table border="1">
        <tr>
            <th>UserID</th>
            <th>CustomerName</th>
            <th>UserName</th>
            <th>UserPhone</th>
            <th>Amount</th>
            <th>Date</th>
            <th>PaymentInfo</th>
            <th>Status</th>
        </tr>
        @{
            foreach (Paymenthistory a in Model)
            {
                <tr>
                    <td>@a.UserId</td>
                    <td>@a.Name </td>
                    <td>@a.UserName </td>
                    <td>@a.UserPhone </td>
                    <td>@a.Amount </td>
                    <td>@a.Date </td>
                    <td>@a.PaymentInfo </td>
                    <td>@a.Status </td>
                </tr>
            }
        }
    </table>
    <button><a href="@Url.Action("Index","Home")">Back to previous page</a></button>
</body>
</html>