@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using InsuranceCardSWP301.Models
@model List<Paymenthistory>
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <!-- <title> Responsive Drop Down Navigation Menu | CodingLab </title>-->
    <link rel="stylesheet" href="~/css/styleDashbroad.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang quản lý</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">Trang quản lý</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Trang quản lý</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="#">Nhân viên</a></li>
                    <li><a href="#">Khách hàng</a></li>
                    <li><a href="#">Hợp đồng</a></li>
                    <li>
                        <a href="#">Lịch sử</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#">Lịch sử thanh toán hợp đồng</a></li>
                            <li><a href="#">Lịch sử bồi thường hợp đồng</a></li>
                            <li><a href="#">Lịch sử vi phạm hợp đồng</a></li>
                            <li><a href="#">Lịch sử phạt hợp đồng</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Tin tức</a></li>
                </ul>
            </div>
            <div class="search-box">
                <i class='bx bx-search'></i>
                <div class="input-box">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
        </div>
    </nav>
    <script src="~/js/site.js"></script>

    <!-- Payment history -->
    <link rel="stylesheet" href="~/css/styleTable.css" />
    <h2> LỊCH SỬ THANH TOÁN HỢP ĐỒNG </h2>
    <p>
        <table style="width: 100%">
            <tr>
                <th>ID</th>
                <th>Tên khách hàng</th>
                <th>Tên tài khoản</th>
                <th>Số điện thoại</th>
                <th>Tổng tiền</th>
                <th>Ngày thanh toán</th>
                <th>Thông tin thanh toán</th>
                <th>tình trạng</th>
            </tr>
            @foreach (Paymenthistory a in Model)
            {
                <tr>
                    <td>@a.UserId</td>
                    <td>@a.Name </td>
                    <td>@a.UserName </td>
                    <td>@a.UserPhone </td>
                    <td>@a.Amount </td>
                    <td>@a.Date </td>
                    <td>@a.PaymentInfo </td>
                    <td>@a.Status </td>
                </tr>
            }
        </table>
</body>
</html>
